/*---------------------------------------------------------
 * Base
---------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  @include font-size($font-size__base);
  font-family: 'source_sans_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif ;
  letter-spacing: 2px;
  color: $color__font;
  p,
  li {
    letter-spacing: 1px;
  }
}
.uppercase {
  text-transform: uppercase;
}
