/*---------------------------------------------------------
 * Menu
---------------------------------------------------------*/
.sm {
  display: block;
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style-type: none;

  direction: ltr;
  &.horizontal {
    &.right {
      @include hor-list-pos(right);
    }
    &.left {
      @include hor-list-pos(left);
    }
    &.center {
      @include hor-list-pos(center);
    }
    li {
      vertical-align: top;
    }
  }
  ul {
    position: absolute;
    top: -999999px;
    width: auto;
    padding: 0;
    list-style-type: none;
    text-align: left;
    li {
      float: none;
    }
    a {
      white-space: normal;
    }
    &.sm-nowrap > li > a {
      white-space: nowrap;
    }
  }
  & > li {
    position: relative;
    display: inline-block;
    float: none;
  }
  a {
    position: relative;
    display: block;
    white-space: nowrap;
  }
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    height: 0;
    font: 0/0 serif;
    content: "\00a0";
  }
}
/*---------------------------------------------------------
 * Mobile Menu
---------------------------------------------------------*/
@include media-query(768px) {
  .nav__menu {
    display: block;
  }
}
