/*---------------------------------------------------------
 * Header
---------------------------------------------------------*/
.header {
  width: 100%;
  height: 56px;
  overflow: hidden;
  background-color: #000;
}